{% extends 'layout.html' %}
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<style>
		.loader {
		  border: 16px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 16px solid #3498db;
		  width: 120px;
		  height: 120px;
		  -webkit-animation: spin 2s linear infinite; /* Safari */
		  animation: spin 2s linear infinite;
		}

		/* Safari */
		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}

		video {
		  width: 100px;
		  height: auto;
		  max-height: 500px;
		}

		.videodiv{
			padding: 10px;
			border: 2px solid #282860;
			border-radius: 10px;
		}
	</style>
{% block content %}
    <div id="loading" class="loading d-none">
        <div class="box">
            <div class="cat">
                <div class="cat__body"></div>
                <div class="cat__body"></div>
                <div class="cat__tail"></div>
                <div class="cat__head"></div>
            </div>
            <p>Loading</p>
        </div>
    </div>
<div class="container-fluid">
               <div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Filter image</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Upload Image </a></li>
					</ol>
                </div>


            <div class="row">


            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                      <div class="image-container">
            <img id="original" src="static/uploads/photo.png" />
        </div>
                        <div class="input-group mb-3">
											<span class="input-group-text">Upload</span>
                                            <div class="form-file">
                                                 <input id="originalInput" type="file" name="image" accept="image/*" class="form-file-input form-control"/>
                                            </div>
                                        </div>

        <select id="filter" name="filter" class="form-control wide">
            <option value="1" selected>Grayscale</option>
            <option value="2">Bright</option>
            <option value="3">Dark</option>

            <optgroup label="Edge Detection">
                <option value="4">Laplacian</option>
                <option value="5">Sobel X</option>
                <option value="6">Sobel Y</option>
                <option value="7">Sobel XY</option>
                <option value="8">Canny</option>
            </optgroup>

            <optgroup label="Blur">
                <option value="9">Averaging</option>
                <option value="10">Gaussian</option>
                <option value="11">Median</option>
                <option value="12">Bilateral Filter</option>
            </optgroup>
            <option value="13"> Island</option>
        </select>
                    </div>
                </div>
            </div>
                 <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-body">

        <div class="result-container">

        <div class="image-container">
            <img id="result" src="static/uploads/photo.png" />
        </div>
        <button id="download" type="button" disabled>Download</button>
        <input id="binary" type="hidden"/>
            &nbsp&nbsp&nbsp Result Image
    </div>
                    </div>
                </div>
            </div>
				<div id="app">
					 <div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Video</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Edit video </a></li>
					</ol>
                </div>
				 <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
						<div align="center" class="row">
					<b>Video Render Preview</b><br>
					<div style="width: 100%;max-width: 50%;">
						<video id="render" controls></video>
					</div>
				</div>
					</div>
				</div>
				 </div>

					<div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
							<div class="col-sm-12">
						<div class="form-group">
							<label for="fileinput">Add Video Clip:</label>
							<input type="file" id="fileinput" accept="video/*">
							<div class="col-sm-4" style="padding-left: 0"> <br>
								<input type="text" class="form-control" placeholder="Clip Name"
								id="clipname">
							</div>

						</div>
						<br>
						<div class="col-sm-4">
							<button class="btn btn-primary" v-on:click="uploadVideoFile">
								 Upload
							</button>
						</div>
					</div>
					<div class="col-sm-12" style="padding: 50px;">
						 <div class="progress">

						  <div id="uploadprogress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
						  aria-valuemin="0" aria-valuemax="100" style="width:0%">

						  </div>
						</div>
					</div>

					<div class="row videodiv" v-for="(video,index) in videos" :key="index">
						<div class="card-body">
						<h3>VIDEO: <u>[[video.name]]</u> </h3>
						<button v-on:click="setRenderVideo(index)" class="btn btn-primary">Render/Preview</button>
						<button v-on:click="removeVideo(index)" class="btn btn-danger">Remove</button>
						<button class="btn btn-dark" v-on:click="reloadOriginalVideo(index)">
							Reload Original Video
						 </button>

						<div align="right" style="margin-top:-70px">

							<h4 class="card-title">Video Effects</h4>
							<b>Trim</b>
							<div class="form-group">
								<div class="col-sm-4">
									<label for="start" class="card-title">Start:</label>
									<input min="0" max="120" type="number" :id="`trim_start`+index"
									value="0" class="form-control input-default ">
								</div>
								<div class="col-sm-4">
									<label for="end" class="card-title">End:</label>
									<input min="0" max="120" type="number" :id="`trim_end`+index"
									value="0" class="form-control input-default ">
								</div>
								<div class="col-sm-3">
									<button class="btn btn-warning" v-on:click="editVideoSubmit(index,'trim')">Trim</button>
								</div>
							</div>
						</div>
							</div>
					</div>
					<br> <br>
					<div v-if="videos.length > 0" class="col-sm-3" style="margin-left:400px">
						<button class="btn btn-success" v-on:click="finalrender">Merge Clips</button>
					</div>
					</div>
				</div>
				 </div>
				</div>
                  </div>


</div>






<div id="apps">


		<div class="container-fluid">
			<br><br>
			<div class="row">
				<div class="col-lg-6">

				</div>

				<div class="col-lg-6">

				</div>
			</div>

		<!-- Loader Modal -->
<div id="loaderModal" class="modal fade" role="dialog"  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div align="center" >
      	<div class="loader"></div> <br>
      	<b>Rendering... Please wait</b>
      </div>
    </div>

  </div>
</div>


		</div>
	</div>

<script>
    const originalImageEl = document.querySelector("#original");
    const originalInputEl = document.querySelector("#originalInput");
    const resultImageEl = document.querySelector("#result");
    const filterEl = document.querySelector("#filter");
    const selectEl = document.querySelector("#selectInput");
    const downloadEl = document.querySelector("#download");
    const binaryEl = document.querySelector("#binary");

    const sendData = async () => {
        const formData = new FormData();
        formData.append("image", originalInputEl.files[0]);
        formData.append("filter", filterEl.value);

        setLoading(true);

        const res = await fetch("/", {
            method: "POST",
            body: formData
        });

        if (res.status != 200) {
            setLoading(false);
            return;
        }

        const data = await res.text();
        const b64 = `data:image/png;base64,${data}`
        binaryEl.setAttribute("value", b64);
        resultImageEl.setAttribute("src", b64);
        downloadEl.removeAttribute("disabled");

        setLoading(false);
    }

    originalInputEl.addEventListener('change', (e) => {
        if (e.target.files.length > 0) {
            originalImageEl.setAttribute("src", URL.createObjectURL(e.target.files[0]));
            sendData();
        }
    });
    filterEl.addEventListener('change', () => sendData());
    downloadEl.addEventListener('click', () => download(binaryEl.value, originalInputEl.value.replace(/.*[\/\\]/, ''), "image/png"));
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js" integrity="sha512-WiGQZv8WpmQVRUFXZywo7pHIO0G/o3RyiAJZj8YXNN4AV7ReR1RYWVmZJ6y3H06blPcjJmG/sBpOVZjTSFFlzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const setLoading = state => {
            const loadingEl = document.querySelector("#loading");
            loadingEl.classList.remove(state ? "d-none" : "d-flex");
            loadingEl.classList.add(state ? "d-flex" : "d-none");
        }
    </script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script> -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<!-- <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script> -->

	<script type="text/javascript">

		function updateProgressBar(percent){
			$("#uploadprogress").css('width',percent+"%");
			$("#uploadprogress").html(percent+"%");

			if(percent == 100){
				setTimeout(function(){
					updateProgressBar(0);
				},2000);
			}
		}

		function setLoader(status = true){
			if(status) $("#loaderModal").modal("show");
			else $("#loaderModal").modal("hide");
		}

		var app = new Vue({
	      el: '#app',
	      data: {
	        originalvideos: [],  //original video clips added by user
			videos: [],  //current clips being edited
	      },
	      delimiters: ['[[',']]'],
	      methods: {

	      	addVideo: function(){
	      		this.originalvideos.push({});
				this.videos.push({});
	      	},

			setRenderVideo: function(videoID){
				// console.log("videoID",videoID);
				$("#render").attr('src',window.location.href + this.videos[videoID].file);
			},

			reloadOriginalVideo: function(videoID){
				this.videos[videoID] = {name:this.originalvideos[videoID].name,file:this.originalvideos[videoID].file};
				app.setRenderVideo(videoID);
			},

			removeVideo: function(videoID){
				// permanently removes the video
				this.videos.splice(videoID,1);
				this.originalvideos.splice(videoID,1);
				$("#render").attr('src',"");
			},

			editVideoSubmit: function(videoID,actiontype){
				console.log("editVideoSubmit",videoID);
				setLoader(true);

				let video = this.videos[videoID].file;

				if(video === undefined){
					toastr.warning("Video is empty!");
					return;
				}

				let editor_payload = {};

				if(actiontype == "trim"){
					editor_payload = {
						trim_start: $("#trim_start"+videoID).val(),
						trim_end: $("#trim_end"+videoID).val()
					}
				}

				editor_payload.videofile = video;
				console.log("editor_payload",editor_payload);
				// send edit request to backend and render the preview returned by server
				$.post("/edit_video/" + actiontype,editor_payload,function(res){
					// console.log("Editor Response",res);
					setLoader(false);
					if(res.status == "success"){
						app.videos[videoID].file = res.edited_videopath;
						app.setRenderVideo(videoID);
						toastr.success(res.message);
					}
					else{
						toastr.error(res.message);
					}
				});
			},

			uploadVideoFile: function() {
				updateProgressBar(0);

				let clipname = $("#clipname").val();
			  	let filedata = document.getElementById('fileinput').files[0];
			  	if(!filedata){
			  		toastr.warning("File is empty!");
			  		return;
			  	}
			  	if(clipname == ""){
			  		toastr.warning("Clip name is required!");
			  		return;
			  	}

			  	const config = {
			    	onUploadProgress: function(progressEvent) {
			      	var percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total)
			      	// console.log(percentCompleted)
			      	updateProgressBar(percentCompleted);

			    	}
			  	}

			  	let data = new FormData()
			  	data.append('videofile', filedata);

			  	axios.post('/upload_video', data, config)
			    	.then(res => {
			    		console.log(res);

			    		this.originalvideos.push({name:clipname,file:res.data});
						this.videos.push({name:clipname,file:res.data});
	    		 		console.log("videos",this.videos);
			    		toastr.success('Video uploaded!');

			    		app.setRenderVideo(this.videos.length - 1);

			    	})
			    	.catch(err => console.log(err))
			},

			finalrender: function(){
				setLoader(true);

				let requestobj = {videoscount: this.videos.length}
				for(let i=0;i<this.videos.length;i++){
					requestobj['video' + i] = this.videos[i].file;
				}

				console.log("requestobj",requestobj);

				$.post("/merged_render",requestobj,function(res){
					console.log(res);

					if(res.status == "success"){
						toastr.success("Final render success!");
						$("#render").attr('src',window.location.href + res.finalrender_videopath);
					}
					else{
						toastr.error("Final render ERROR: " + res.message);
					}

					setLoader(false);
				});
			}
	      },
	      // created() {
	      // }
	    })



	</script>
{% endblock %}
