<!--{% extends 'layout.html' %}-->
<!--{% block content %}-->

<!--<div class="row" style="margin-top:50px;margin-left:10px;">-->
<!--    <div class="col-lg-12 col-xl-12">-->
<!--        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <div class="row m-b-30">-->
<!--                                    <div class="col-md-5 col-xxl-12">-->
<!--                                        <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">-->
<!--                                            <div class="new-arrivals-img-contnent" >-->
<!--                                                 <img class="center-fit" src="static/panorama.jpg" style="" tyle="width:600px;height:400px;">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-7 col-xxl-12">-->
<!--                                        <div class="new-arrival-content position-relative">-->
<!--                                            <center> <h3 class="center-fit btn btn-primary js-scroll-trigger">Execution Time: {{ timee }} s</h3></center>-->


<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->