{% extends "layout.html" %}
{% block content %}
 {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 2% 10% 2% 10% ; min-height: 400px;') }}
<div class="justify-content-center mt-4">
    <h4></h4>
</div>
<div class="container-fluid">
               <div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Extra text</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Image File To Get Translation</a></li>
					</ol>
                </div>
</div>
{{ dropzone.create(action='uploadimgtext') }}
{{ dropzone.load_js() }}
{{ dropzone.config() }}

{% endblock %}